:root {
  --color1: #000;
}

body {
  background: var(--color1);
  padding: 0;
  margin: 0;
  overflow: hidden;
  touch-action: none;
}

* {
  box-sizing:border-box;
}

#gameContainer {
  position: relative;
  width: 100svw;
  height: 100svh;
  margin: 0 auto;
  
  display: flex; 
	justify-content: center; /* center horizontally */ 
	align-items: center; /* center vertically */ 
}

#gameCanvas {
  width: 100%;
  height: 100%;
  background-color: gray;
  
  image-rendering: pixelated;
  /* image-rendering: crisp-edges; */
  /* image-rendering: auto; */
  scale: 3

}